*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container-header{
    background-color: rgb(13, 103, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    
}
.immagine-header{
    width: 10%;
    height: 30%;
    padding: 8px;
    padding-left: 20px;
}
#bars{
    padding-right: 20px;
    color: white;
}
.container-main-1{
    display: flex;
    flex-direction: column; 
    width: 100vh;
    align-items: center;
}
.container-card-1{
    background-color:#B5DDFF;
    width: 60%;
    margin-top: 40px;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}
.container-card-grande-1{
    background-color:#B5DDFF;
    width: 60%;
    margin-top: 40px;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.titlo-card-grande{
    padding-bottom: 20px;
    color: #0084FD;
    font-weight: bold;
    font-size: 29px;
    text-align: center;
}
.testo-card-grande{
    line-height: 27px;
    padding-bottom: 30px;
    font-size: 13px;
    width: 75%;
    text-align: left;
}
.bottone-main-1{
    width: 200px;
    height: 35px;
    background-color: #0084FD;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    text-align: center;
}
.immagine-card-1{
    width: 70%;
    padding-top: 20px;
}
.simboli-card{
    font-size: 60px;
    color: #0084FD;
    padding-bottom: 20px;
}
.titlo-card-piccola{
    font-size: 18px;
    color: #0084FD;
    padding-bottom: 20px;
}
.testo-card-piccola{
    font-size: 13px;
    padding-bottom: 30px;
    width: 70%;
    text-align: center;
    line-height: 25px;
}
.container-main-2{
    display: flex;
    flex-direction: column; 
    width: 100vh;
    align-items: center;
    background-color: #9792E4;
    margin-top: 50px;
    padding-bottom: 30px;
}
.container-main-card{
    display: flex;
    flex-direction: column; 
    width: 100vh;
    align-items: center;
    background-color: #9792E4;
    margin-top: 50px;
    padding-bottom: 30px;
}
.container-flex-card-main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sessione-1-main-2{
    width: 60%;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titolo-main-2{
    padding-top: 20px;
    color: white;
    text-align: center;
}
.titolo-main-8{
    padding-top: 20px;
    color: white;
    text-align: center;
}
.testo-main-2{
    font-size: 13px;
    padding-top: 30px;
    width: 70%;
    text-align: center;
    line-height: 25px;
    color: white;
}
.testo-main-5{
    font-size: 13px;
    padding-top: 30px;
    width: 70%;
    text-align: center;
    line-height: 25px;
    color: white;
}
.sessione-2-main-2{
    width: 60%;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 30px;
}
.titolo-main-3{
    padding: 10px;
}
.testo-main-3{
    font-size: 16px;
    padding: 30px 0 20px 0;
    width: 80%;
    text-align: center;
    line-height: 25px;
    font-style: italic;
}
.bottone-main-3{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #9792E4;
    border: none;
}
.intro-testimonail{
    width: 60%;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
.TESTIMONIAL{
    padding-bottom: 30px
}
.testo-main-4{
    color: #9792E4;
    text-align: center  ;
}
.container-card-main-4{
    width: 60%;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9792E4;
    border-radius: 30px;
}
.margin-bottom-cadr-5{
 margin-bottom: 150px;
}
.immagine-testimonial{
    border-radius: 100px;
    width: 160px;
    height: 158px;
}
.immagine-testimonial-main-8{
    border-radius: 100px;
    width: 160px;
    height: 158px;
}
.testo-testimonial{
    color: white;
}
.nome-testimonail{
    padding-top: 20px;
    color: white;
    font-size: 20px;
}
.card-main-6{
    width: 60%;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #ffffff;
    border-radius: 30px;
}
.numero-card{
    font-size: 30px;
    color: #9792E4;
    padding-bottom: 20px;
}
.titolo-card{
    padding-bottom: 20px;
    color: #9792E4;
}
.testo-card{
    color: #8c8c94;
    font-size: 12px;
    padding-bottom: 20px;
    width: 60%;
}
.bottone-card{
    background-color: #9792E4;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
}
.testo-main-7{
    color: #9792E4;
    padding-top: 100px;
    width: 60%;
}
.lorem-lungo{
    width: 73%;
    line-height: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
}
.contenitore-flex-main-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
}
.container-main-7{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
}
.container-main-8{
    display: flex;
    flex-direction: column; 
    width: 100vh;
    align-items: center;
    background-color: #9792E4;
    margin-top: 50px;
    padding-bottom: 30px;
}
.testo-main-8{
    padding-top: 30px;
    color: #9792E4;
    width: 60%;
    line-height: 30px;
}
.bottone-card-8{
    background-color: #9792E4;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    margin-bottom: 50px;
}
.free-main-8{
    font-size: 50px;
    color: orange;
    padding-top: 20px;
}
.intro-main-8{
    color: #cfcfd8;
    padding-top: 50px;
    font-family: Arial;
}
.bottone-main-8{
    width: 300px;
    height: 45px;
    background-color: white;
    color: #9792E4;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}
.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    background-color: black;
}
.footer-link{
    color: #9792E4;
    text-decoration: underline;
}
.backgroun-violet{
    background-color: #9792E4;
}


@media  (min-width: 768px){
     
    
    .container-header {
        width: 100%;
    }
    .container-main-2{
        width: 100%;
    }
    .contenitore-flex-main-7{
        width: 100%;
    }
    .container-main-card{
        width: 100%;
    }
    .container-footer{
        width: 100%;
    }
    .container-main-7{
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-main-8{
        width: 100%;
    }
    .container-main-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .container-card-grande-1{
        width: 61%;
        margin: 20px;
    }
    .container-card-1{
        width: 28%;
        margin: 20px;
    }
    .sessione-1-main-2{
        width: 100%;
    }
    .titolo-main-2{
        width: 100%;
        padding-top: 20px;
        font-size: 50px;
        padding: 50px 0 30px 40px;
        text-align: left;
    }
    .testo-main-2{
        width: 50%;
    }
    .sessione-2-main-2{
        width: 95%;
    }
    .intro-testimonail{
        width: 100%;
    }
    .container-card-main-4{
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .testo-main-5{
        width: 70%;
    }
    .nome-testimonail{
        padding-left: 201px;
    }
    .container-main-card{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-main-6{
        width: 43%;
        margin: 20px;
        align-items: center;
    }
    .testo-main-8{
        position: relative;
        bottom: 696px;
        left: 595px;
        width: 22%;
    }
    .immagine-testimonial-main-8{
        position: relative;
        bottom: 420px;
        left: 30px;
    }
    .lorem-lungo{
        width: 65%;
    }
    .bottone-card-8{
        position: relative;
        bottom: 476px;
        left: 398px;
    }
    .titolo-main-8{
        font-size: 33px;
    }
    .free-main-8 {
        font-size: 70px;
    }
}
@media  (min-width: 1160px){

    .container-main-1{
        width: 70%;
        margin: 0 auto;
    }
    .container-main-2{
        width: 70%;
        margin: 0 auto;
        flex-direction: row;
    }
    .sessione-1-main-2{
        width: 45%;
    }
    .sessione-2-main-2{
        width: 40%;
        margin-top: 250px;
        margin-bottom: 0;
    }
    .container-main-card{
        width: 70%;
        margin: 0 auto;
    }
    .titolo-main-2{
        text-align: center;
    }
    .contenitore-flex-main-7{
        width: 70%;
        margin: 0 auto;
    }
    .container-flex-card-main-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-card-grande-1{
        flex-wrap: nowrap;
        flex-direction: row;

    }
    .immagine-card-1{
        width: 50%;
        padding-top: 138px;
    }


}